<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>Receipt Tracker</title>

</head>


<body>
    <main>
        <h1>My Receipts</h1>

        <!-- <div class="receipt-table"> -->
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            {% for receipts in receipt_list %}
            <tbody>
                <tr>
                    <td>{{ receipts.vendor }}</td>
                    <td>{{ receipts.total }}</td>
                    <td>{{ receipts.tax }}</td>
                    <td>{{ receipts.date|date:"D d M Y" }}</td>
                    <td>{{ receipts.category.name }}</td>
                    <td>{{ receipts.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <!-- </div> -->
        </table>
    </main>
</body>


</html>
